@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #054d88;
}
h1 {
    text-align: center;
    font-size: 2.5em;
    color: aliceblue;
    margin: 20px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;

}
.content {
    background-color: aliceblue;
    width: 40vw;
    height: auto;
    padding: 10px;
    margin: 25px;
    border-radius: 15px;
}
.content .form {
    text-align: center;
}

select {
    width: 160px;
    margin: 10px 0 0 10px;
}
option {
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}
input[type="button"].finish {
    margin: 10px;
    width: 100px;
}
section .error-paragraphy {
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.result-div p {
    font-size: 1.5em;
    width: 100%;
    text-align: center;   
}