@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    font: normal 1.5em Helvetica;
    color: white;
    background-color: #191625;
}

h1{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    background-color: whitesmoke;
    color: black;
    width: 35vw;
    height: 40vh;
    border-radius: 15px;
    text-align: center;
    padding: 20px;
}
.content p{
    margin: 10px;
}
.content img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}